/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intestazione pagina */

header {
    background-color: #add8e6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-container {
    width: 1200px;
    background-color: #daa520;
    margin: 0 auto;
    display: flex;
}

.flex-container .flex-item {
    padding: 10px;
    border: 2px dotted black;
}

.flex-container > .link {
    flex-grow: 2;
    text-align: center;
}

.flex-container > .logo {
    flex-grow: 1;
}

.flex-container > .login {
    flex-grow: 1;
    text-align: end;
}



/* Corpo della pagina */

main > section {
    padding: 30px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Blue container */

.bg-blue > .container {
    width: 900px;
}

.bg-blue .container .row {
    background-color: #ee82ee;
}

/* Small-big boxes */

.bigbox {
    width: 800px;
    background-color: #1e90ff;
}

.smallbox {
    width: 400px;
    background-color: #ffc0cb;
}

.bg-grey .smallbox {
    order: -1;
}


/* Background colors*/

.bg-blue {
    background-color: blue;
}

.bg-grey {
    background-color: #d3d3d3;
}

/* Da rimuovere */

.debug .row {
    height: 400px;
    /* background-color: blueviolet; */
}
